---
    import '../styles/featured-banners.css';
---
<div id="elm-featured-banners"></div>
<script>
    document.addEventListener("DOMContentLoaded" , function(){
        Elm.FeaturedBanners.init({
            node: document.getElementById("elm-featured-banners")
        })
    })
</script>
<script :is-inline src="/elm/featured-banners.js"></script>