<div id="product-options"></div>
<script>
    document.addEventListener("DOMContentLoaded" , function(){
        Elm.ProductOptions.init( {
            node: document.getElementById("product-options")
        });
    })
</script>
<script :is-inline src ="/elm/product-options.js"></script>