---
    import '../styles/product.css';
---
<div id="product-options"></div>
<script>
    document.addEventListener("DOMContentLoaded" , function(){
        Elm.Product.init( {
            node: document.getElementById("product-options")
        });
    })
</script>
<script :is-inline src ="/elm/product.js"></script>